hash as valid sign within username

baresip+ for Android does not accept the number sign or hash, in Unicode U+0023, for username and authentification username.

I found that limitation by trying to connect to a Dahua intercom station which uses usernames like "9901#1"

Therefore I would like to request that for username and authentification username the hash shall be an allowed sign. 

RFC 3261 chapter 7 states "SIP is a text-based protocol and uses the UTF-8 charset". So this change should be according to the protocol specification.

> 
> Hirogen1 writes:
> baresip+ for Android does not accept the number sign or hash, in Unicode U+0023, for username and authentification username.
> By "username" do you mean user part of account's SIP URI like in sip:username@example.com? If so, # character is not allowed there unless it is escaped. RFC3261 Section 25.1: SIP-URI = "sip:" [ userinfo ] hostport uri-parameters [ headers ] userinfo = ( user / telephone-subscriber ) [ ":" password ] "@" user = 1*( unreserved / escaped / user-unreserved ) unreserved = alphanum / mark mark = "-" / "_" / "." / "!" / "~" / "*" / "'" / "(" / ")" user-unreserved = "&" / "=" / "+" / "$" / "," / ";" / "?" / "/" The BNF for telephone-subscriber can be found in RFC 2806 [9]. Note, however, that any characters allowed there that are not allowed in the user part of the SIP URI MUST be escaped.



Currently baresip does not allow escaped characters in r-uri user or authentication username.  I'll fix this in the next version.  Then you should be able to add an account that has %23 in the user part and authentication username.