Cannot add account with numbers in domain

Hi, I have a SIP account in the form of 1234@sip.1und1.de.
This fails with an error message that the SIP address is invalid. When I remove the numbers from the address I can add the account (ie 1234@sip.und.de).

1und1.de is a valid domain name. Can you relax your checks accordingly, please :-)

Relevant from https://serverfault.com/questions/638260/is-it-valid-for-a-hostname-to-start-with-a-digit

> RFC 1123 relaxes a constraint of RFC 952 which specifies a legacy of the Hostname Server Protocol (described in RFC 953) replaced by DNS. So a fully numeric hostname would be valid per these RFCs.
> 
> RFC 1123 itself discusses consequences when it comes to IP versus hostname parsing :
> 
>     If a dotted-decimal number can be entered without such identifying delimiters, then a full syntactic check must be made, because a segment of a host domain name is now allowed to begin with a digit and could legally be entirely numeric (see Section 6.1.2.4). However, a valid host name can never have the dotted-decimal form #.#.#.#, since at least the highest-level component label will be alphabetic.

UPDATE 1: After looking at the code in Utils.kt (checkDomain function) and googling some more, these seemed helpful hints on how to leverage the Android system functions to check valid domains...
https://stackoverflow.com/questions/4905075/how-to-check-if-url-is-valid-in-android

Update 2: Last edit, promised. Leveraging the Android regex PATTERNS seems to be useful in not reinventing the wheel, and it has a domain name PATTERN too:
https://developer.android.com/reference/android/util/Patterns.html#fields

P.S. The same problem occurs with the sip proxy server address, by the way.

Thanks for reporting.  Fixed by https://github.com/juha-h/baresip-studio/commit/46fa2fd8b5278f56af4b6fc8229189f3a3fb8d86.